@charset "utf-8";

/* base */
* { font-family:Arial,Microsoft YaHei; font-size:14px; padding:0; margin:0; border:0;}
.clear { clear:both; font-size:0; line-height:0; height:0; overflow:hidden;}
ul,li { list-style:none;}
img { vertical-align:top;}
/* a */
a { text-decoration:none; blr:expression(this.onFocus=this.blur());/*针对 IE*/ outline:none;/*针对firefox等*/}
.a-img1:hover { color:#fff; opacity:0.9;}

.objHeader { width:100%; height:101px;}
.objNav { float:left; width:252px; height:1000px;}

/* header */
.header { width:100%; height:100px; background:#f8f8f8; border-bottom:1px #dddddd solid;}
.headerContainer { width:1000px; height:100px; margin-left:auto; margin-right:auto;}
.logo { float:left; height:60px; padding-top:20px; line-height:60px;}
.logo a { font-size:35px; font-weight:bold; color:#706f6f; letter-spacing:-1px;}
.logo img { padding-right:12px;}
.version { float:right; font-size:14px; height:100px; line-height:100px; color:#aaaaaa;}
.version span { color:#e3e3e3; padding-left:2px; padding-right:2px;}

/* main */
.main { position:relative; width:1000px; margin:25px auto 25px auto;}

/* nav */
.navBox { float:left; width:250px; height:auto; margin-right:25px; border-left:#ddd 1px solid; border-top:#ddd 1px solid; border-right:#ddd 1px solid;}
.navNote { width:238px; padding-left:12px; height:30px; line-height:30px; border-bottom:#ddd 1px solid; font-size:13px; color:#aaa; background:#f8f8f8;}
.nav { width:250px; border-bottom:#ddd 1px solid;}
.nav:hover { background:#eee; -webkit-transition:background .2s ease-in-out; -moz-transition:background .2s ease-in-out; -o-transition:background .2s ease-in-out; -ms-transition:background .2s ease-in-out; transition:background .2s ease-in-out;}
.nav_item { display:block; padding-left:12px; width:238px; height:45px; line-height:45px; font-size:15px; color:#333;}
.arrow { background:url(../img/arrow-close.png) 229px no-repeat;}
.arrow_current { background:#eee url(../img/arrow-open.png) 229px no-repeat;} 
.subNav { display:none; border-top:#ddd 1px solid;}
.subNav_item { display:block; width:238px; padding-left:12px; height:35px; line-height:35px; font-size:14px; color:#777; background:#eee;}
.subNav_item:hover { color:#555; background:#f2f2f2;}

/* content */
.content { float:left; width:723px; height:auto;}
.content h2 { width:723px; margin-bottom:10px; margin-top:10px; line-height:50px; margin-bottom:20px; border-bottom:#ddd 1px solid; font-size:25px; font-weight:bold; color:#333;}
.content h1 { line-height:35px; margin-bottom:10px; font-size:22px; font-weight:bold; color:#333;}
.content p { line-height:24px; font-size:14px; color:#333; margin-bottom:10px;}
.content a { color:#5a91c0; font-size:14px; text-decoration:none;}
.content a:hover { color:#4f88b8; text-decoration:underline;}
.content .highlight { width:691px; padding:10px 15px; border-radius:5px; background:#f5f5f5; border:#dddddd 1px solid; margin-bottom:10px;}
.content code { width:691px; font-family:Monaco,Menlo,Consolas,monospace; color:#777; font-size:14px; line-height:24px;}
.content .highlight span { font-family:Monaco,Menlo,Consolas,monospace; color:#777; font-size:14px; line-height:24px;}

/* footer */
.footer { margin-top:20px; width:100%; height:65px; border-top:#ddd 1px solid;}
.footerContainer { width:1000px; margin-left:auto; margin-right:auto; height:65px; line-height:65px;  color:#aaa; font-size:14px;}
.footerContainer a { color:#5a91c0; font-size:14px; text-decoration:none;}
.footerContainer a:hover { color:#4f88b8; text-decoration:underline;}

/* toTop */
/*解决IE6闪动问题 start*/
*html{background-image:url(about:blank);background-attachment:fixed;}
/*解决IE6闪动问题 end*/
*{font-size:16px;font-family:"微软雅黑";}
/* toTop */
.toTop{width:48px; height:48px; background:url(../img/top.gif) no-repeat;cursor:pointer;position:fixed;right:40px;bottom:100px;}
*html .toTop{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));margin-bottom:80px;}
.toTop:hover { background:url(../img/toph.gif) no-repeat;}
