---
---
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Pinus - Pinus 1.0.1</title>
<link rel="icon" type="image/x-icon" href="{{site.baseurl}}/img/icon.ico">
<link rel="stylesheet" href="/css/base.css">
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<!--[if lt IE 7]>
    <script type="Text/Javascript" src="js/pngfix.js"></script>
    <script type="text/javascript">  
		DD_belatedPNG.fix('img,a,div,span, li');
	</script>
<![endif]-->
<script type="text/javascript">
    function load(pageName) {
        $("#content").load("_posts/" + pageName + ".html");
    }
</script>
</head>

<body>

<div class="header">
	<div class="headerContainer">
    	<div class="logo">
        	<a href="index.shtml"><img src="/img/logo.png" width="60" height="60">Pinus</a>
        </div>
        <div class="version">
        	最近更新：3 Feb 2014 <span>|</span> 版本：1.0.1
        </div>
    </div>
</div>

<div class="main">

	<div class="navBox">
    	<ul>
       		<li class="navNote">参考文档</li>
			<li class="nav"><a class="nav_item" href="/2015/02/12/intro.html">简介</a></li>
        	<li class="nav"><a class="nav_item" href="javascript:void(0);">入门</a></li>
			<li class="nav"><a class="nav_item arrow" href="javascript:void(0);">框架机制</a>
            	<ul class="subNav">
                	<li><a class="subNav_item" href="#">数据水平切分模型</a></li>
                	<li><a class="subNav_item" href="#">集群主键生成</a></li>
                	<li><a class="subNav_item" href="#">缓存机制</a></li>
                	<li><a class="subNav_item" href="#">事务机制</a></li>
            	</ul>
        	</li>
			<li class="nav"><a class="nav_item arrow" href="javascript:void(0);">使用手册</a>
            	<ul class="subNav">
                	<li><a class="subNav_item" href="#">配置说明</a></li>
                	<li><a class="subNav_item" href="#">自动生成数据表</a></li>
                	<li><a class="subNav_item" href="#">使用API开发</a></li>
                	<li><a class="subNav_item" href="#">集成Spring框架</a></li>
                	<li><a class="subNav_item" href="#">事务处理</a></li>
                	<li><a class="subNav_item" href="#">日志</a></li>
				</ul>
        	</li>
        	<li class="nav"><a class="nav_item arrow" href="javascript:void(0);">进阶使用</a>
            	<ul class="subNav">
                	<li><a class="subNav_item" href="#">定制缓存实现</a></li>
                	<li><a class="subNav_item" href="#">定制数据库路由实现</a></li>
            	</ul>
        	</li>
        	<li class="nav"><a class="nav_item arrow" href="javascript:void(0);">开发者指南</a>
            	<ul class="subNav">
                	<li><a class="subNav_item" href="#">获取源码</a></li>
                	<li><a class="subNav_item" href="#">代码结构</a></li>
                	<li><a class="subNav_item" href="#">核心类说明</a></li>
            	</ul>
       		</li>
        	<li class="nav"><a class="nav_item" href="javascript:void(0);">Javadoc</a></li>
        	
            <li class="navNote">项目文档</li>
			<li class="nav"><a class="nav_item" href="javascript:void(0);">版本更新日志</a></li>
		</ul>
	</div>
    <div>
        {{ content }}
    </div>
</div>

</body>
</html>
